<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href='/stylesheets/signup.css' />
    <link rel='stylesheet' href="/stylesheets/mypage.css" />
  </head>
  <body>
  
    업체마이페이지

  </body>
</html>
