<!DOCTYPE html>
<html>


<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main_page.css">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <style>
        a {
            color: black;
            text-decoration: none;
        }

        a:link,
        a:hover,
        a:active {
            text-decoration: none;
        }

        body {
            width: 1500px;
            height: 100%;
            display: flex;
            padding-top: 10px;
            flex-direction: column;
            margin: 0 auto;
            color: #5A5A5A;
        }

        .box_gradation {
            
            margin-top: 50px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 1px 1px 10px gray;
     
        }

        #main_title {
            display: flex;
            flex-direction: column;

        }

        .insert_product_body {
            display: flex;
            flex-direction: column;

        }

        .product_top {
            display: flex;
            flex-direction: row;
        }

        .product_mid {
           
            color: aqua;
        }

        .product_bottom {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }

        #product_detail {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            text-align: left;
            font-size: 25px;
        }

        #product_detail span {
            margin-bottom: 10px;
        }

        #product_img {
            flex-basis: 300px;
        }

        .insert_css{
            border:none;
        }

        .insert_product_btn{
           
           
            color: #212529;
            background-color: #f8f9fa;
            border-color: #f8f9fa;
            font-size: 25px;
            font-weight: bold;
            width: 150px;
            right: 0px;
            margin-top: 10px;
            margin-left: 1175px;
            border-radius: 10px;
           
 
        }

        .red_btn:active {
            border: 0;
            background: rgb(0, 255, 85);
            width: 150px;
           
  
        }

        .red_btn:focus {
            outline: none;
            border: 0;
            background:#ABE0A8;
            width: 150px;
         

        }  


   
    </style>



</head>

<body>

 

    <div id="title_name">
        <h1>상품 등록</h1>     
        <div id="main_title">
            <div class="insert_product_body box_gradation">
                    
                <div class="product_top">
                       <form method="POST" action="" enctype="multipart/form-data">
                        <div id="product_detail">
                            <div>
                                <label>상품명:</label>
                                <input class="insert_css" name="product_name" type="text" size="30px" />
                            </div>
                            <div>
                                <label>상품판매금액:</label>
                                <input class="insert_css" name="product_price" type="number" size="30px" />
                            </div>
                            <div>
                                <label>상품시중금액:</label>
                                <input class="insert_css" name="product_before_price" type="number" size="30px" />
                            </div>
                            <div>
                                <label>판매재고량:</label>
                                <input class="insert_css" name="product_value" type="number" size="30px" />
                            </div>
                            <div>
                                <select name="kind">
                                    <option value="1">감자</option>
                                    <option value="2">고구마</option>
                                    <option value="3">버섯</option>
                                    <option value="4">호박</option> 
                                    <option value="5">양파</option>
                                </select>
                            </div>
                            <div>
                                <label>판매 단위:</label>
                                <input class="insert_css" name="product_weight" type="text" size="30px" />
                            </div>
                            <div>
                                <label>보관방법:</label>
                                <input class="insert_css" name="product_method" type="text" size="30px" />
                            </div>
                            <div>
                                <label>판매마감기간:</label>
                                <input name="product_date" type="date" size="30px" />
                            </div>
                            
                            <span id="product_image_body">상품 이미지: 
                                <input type="file" multiple required name="product_img" id="profile_pt" onchange="add_image_btn(event)">
                                <div id='View_area' style=' width: 100px; height: 100px; color: black; border: 0px solid black; display: inline; '></div>
                               
                            </span>
                            <span>(대표이미지는 이름순 으로 설정됩니다.)</span>
                            <span>상세 내용</span>
                        </div>
                </div>
                <div class="product_mid">
                    <textarea name="product_detail" id="" cols="30" rows="10" style="resize: none; padding: 20px;  width: 100%; border-radius: 20px;" >
                    </textarea>        
                </div>
                <input type="submit" value="등록하기" class="insert_product_btn" />                                        
                </form>
            </div>
        </div>
    </div>

            

</body>

<script>
    function add_image_btn(event){

        $('#View_area').empty();

        for (var image of event.target.files){
            var reader = new FileReader();

            reader.onload = function(event){
                var img = document.createElement('img');

                img.setAttribute('src', event.target.result);
                img.style.width = "200px";
                img.style.height = "200px";
                document.getElementById('View_area').appendChild(img);
            }
            console.log(image);

            reader.readAsDataURL(image);
        }



    }
</script>
<script> 

function previewImage(targetObj, View_area) {
	var preview = document.getElementById(View_area); //div id
	var ua = window.navigator.userAgent;

  //ie일때(IE8 이하에서만 작동)
	if (ua.indexOf("MSIE") > -1) {
		targetObj.select();
		try {
			var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
			var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);


			if (ie_preview_error) {
				preview.removeChild(ie_preview_error); //error가 있으면 delete
			}

			var img = document.getElementById(View_area); //이미지가 뿌려질 곳

			//이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
			img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
		} catch (e) {
			if (!document.getElementById("ie_preview_error_" + View_area)) {
				var info = document.createElement("<p>");
				info.id = "ie_preview_error_" + View_area;
				info.innerHTML = e.name;
				preview.insertBefore(info, null);
			}
		}
  //ie가 아닐때(크롬, 사파리, FF)
	} else {
		var files = targetObj.files;
		for ( var i = 0; i < files.length; i++) {
			var file = files[i];
			var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
			if (!file.type.match(imageType))
				continue;
			var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
			if (prevImg) {
				preview.removeChild(prevImg);
			}
			var img = document.createElement("img"); 
			img.id = "prev_" + View_area;
			img.classList.add("obj");
			img.file = file;
			img.style.width = '150px'; 
			img.style.height = '150px';
			preview.appendChild(img);
			if (window.FileReader) { // FireFox, Chrome, Opera 확인.
				var reader = new FileReader();
				reader.onloadend = (function(aImg) {
					return function(e) {
						aImg.src = e.target.result;
					};
				})(img);
				reader.readAsDataURL(file);
			} else { // safari is not supported FileReader
				//alert('not supported FileReader');
				if (!document.getElementById("sfr_preview_error_"
						+ View_area)) {
					var info = document.createElement("p");
					info.id = "sfr_preview_error_" + View_area;
					info.innerHTML = "not supported FileReader";
					preview.insertBefore(info, null);
				}
			}
		}
	}
}
     </script>

</html>