<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <style>
        #title_name {
            margin-top: 100px;
            text-align: center;

        }

        #title_name h1 {
            color: #ABE0A8;
            font-weight: bold;
        }
    </style>
</head>


<body>

    <%- include('./head/nav', {sess:sess})%>

    <div id="title_name">
        <h1>관리 팜</h1>
    </div>

    <div>
        <p><strong>판매자 이름 </strong><%= companyDetail.user_name %></p>
        <p><strong>공급업체 명 </strong><%= companyDetail.company_name %></p>

        <form method="post" action="/admin/companyState/<%=companyDetail.company_num%>">
            <strong>거절 사유</strong><input type="text" name="company_reason">
            <br>
            <button type="submit" name="ok">승인</button>
            <button type="submit" name="no">거절</button>
        </form>
        

    </div>


</body>

</html>