<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>izone</h1>
    <h2>test</h2>

    <p><%=sess%></p>

    <% if(sess === undefined) { %>
      <button type="button" onclick="location.href='/users'">회원가입</button>
      <button type="button" onclick="location.href='/users/login'">로그인</button>
    <% } else { %>
      <button type="button" onclick="location.href='/users/login'">로그인</button>
      <button type="button" onclick="location.href='/users'">회원가입</button>
      <button type="button" onclick="location.href='/users/logout'">로그아웃</button>
      <button type="button" onclick="location.href='/users/mypage'">마이페이지</button>
    <% } %>


  </body>
</html>
