<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <button type="button" onclick="location.href='/company'">공급업체 메뉴</button>

  </body>
</html>
