<!DOCTYPE html>
<html>
    <head>
        <title>sss</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' />
        <link rel='stylesheet' href="/stylesheets/signup.css" />
        <style>
        
        body{

            position: relative;
            width: 800px;
            left: 50%;
            transform: translateX(-50%);
            top: 100px;
            height: 1000px;
            
        }

        #user_sign_up {

            display: inline;

        }

        #company_sign_up {
            display: none;
        }

        .userbtn {
            cursor: pointer;
        }

        .companybtn {
            cursor: pointer;
        }
      
        </style>
    </head>
    <body>

        <h2 class="display-4"><a href="/">파지팜</a></h2>
        <h1 class="display-1">Sign Up</h1>

    <div id="select_sign_up" class="signup_btn">
        <div id="user" onclick="selectUser()" class="userbtn">일반회원</div>
        <div id="company" onclick="selectCompany()" class="companybtn">판매자</div>
    </div>
 
    <div id="user_sign_up" class="signup_div">
        <form class="signup_form" method="POST" action="/users">
            <div class="signup_css">
                <label for="user_id">아이디</label>
                <input id="user_id" class="login_css" name="user_id" type="text" size="40px"/>
            </div>
            <div class="signup_css">
                <label for="user_pw">비밀번호</label>
                <input id="user_pw" class="login_css" name="user_pw"  type="password" size="40px"/>
            </div>
            <div class="signup_css">
                <label for="user_name">이름</label>
                <input id="user_name" class="login_css" name="user_name" type="text" size="40px"/>
            </div>
            <div class="signup_css"> 
                <label for="user_tel">전화번호</label>
                <input id="user_tel" class="login_css" name="user_phone" type="text" size="40px"/>
            </div>
            <div class="signup_css">
                <label for="area_num">거주지역</label>
                <select name="area_num" class="custom-select custom-select-lg mb-3" >
                    <option value="">지역선택</option>
                    <% for (let i=0; i < area.length; i++) { %>
                        <option value="<%=area[i].area_num%>">
                            <%=area[i].area_name%>
                        </option>
                    <% } %>
                </select>
            </div>
            
            <button type="submit" class="btn btn-outline-sign_up">회원가입</button>
        </form>
    </div>

    <div id="company_sign_up" class="signup_div">
        <form class="signup_form" method="POST" action="/">
            <div class="company_signup_css">
                <label for="user_id">기존 아이디</label>
                <input id="user_id" class="login_css" name="" type="text" size="40px"/>
            </div>
            <div class="company_signup_css">
                <label for="user_pw">기존 비밀번호</label>
                <input id="user_pw" class="login_css" name=""  type="password" size="40px"/>
            </div>
            <div class="company_signup_css">
                <label for="user_name">업체명</label>
                <input id="user_name" class="login_css" name="" type="text" size="40px"/>
            </div>
            <div class="company_signup_css"> 
                <label for="user_tel">사업자번호</label>
                <input id="user_tel" class="login_css" name="" type="text" size="40px"/>
            </div>
            <div class="company_signup_css">
                <label for="area_num">지역선택</label>
                <select name="area_num" class="custom-select custom-select-lg mb-3" >
                    <option value="">지역선택</option>
                    <% for (let i=0; i < area.length; i++) { %>
                        <option value="<%=area[i].area_num%>">
                            <%=area[i].area_name%>
                        </option>
                    <% } %>
                </select>
            </div>
            
            <button type="submit" class="btn btn-outline-sign_up">판매자 등록</button>
        </form>
    </div>

 </div> 

        <script>
            // var user_btn = document.getElementById("user");
            // var company_btn = document.getElementById("company");
    
            function selectUser() {
                var user_btn = document.getElementById("user");
                var company_btn = document.getElementById("company");
                var user_sign_up = document.getElementById("user_sign_up");
                var company_sign_up = document.getElementById("company_sign_up");
                
                user_sign_up.style.display = "inline";
                user_btn.style.borderBottom = "3px solid #ABE0A8";
                
                company_sign_up.style.display = "none";
                company_btn.style.borderBottom = "none";
                
            }
    
            function selectCompany() {
                var user_btn = document.getElementById("user");
                var company_btn = document.getElementById("company");
                var user_sign_up = document.getElementById("user_sign_up");
                var company_sign_up = document.getElementById("company_sign_up");
                
                user_sign_up.style.display = "none";
                user_btn.style.borderBottom = "none";
                
                company_sign_up.style.display = "inline";
                company_btn.style.borderBottom = "3px solid #ABE0A8";
            }
        </script>

        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>