<!DOCTYPE html>
<html>
  <head>
  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.css' />
    <link rel="stylesheet" href='/stylesheets/signup.css' />
    <link rel='stylesheet' href="/stylesheets/mypage.css" />
    <style>
        .body {
            
            position: relative;
            width: 500px;
            height: 500px;
        }
    </style>
  </head>
  <body>
카드만들기
  </body>
</html>
