<!DOCTYPE html>
<html>


<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main_page.css">
    <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <style>
        a {
            color: black;
            text-decoration: none;
        }

        a:link,
        a:hover,
        a:active {
            text-decoration: none;
        }

        body {
            width: 1500px;
            height: 100%;
            display: flex;
            padding-top: 10px;
            flex-direction: column;
            margin: 0 auto;
            color: #5A5A5A;
        }

        .box_gradation {
            
            margin-top: 50px;
            padding: 20px;
            border-radius: 20px;
            box-shadow: 1px 1px 10px gray;
     
        }

        #main_title {
            display: flex;
            flex-direction: column;

        }

        .insert_product_body {
            display: flex;
            flex-direction: column;

        }

        .product_top {
            display: flex;
            flex-direction: row;
        }

        .product_mid {
           
            color: aqua;
            margin-top: 10px;

        }

        .product_bottom {
            margin-top: 20px;
            display: flex;
            flex-direction: row;
        }

        #product_detail {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            text-align: left;
            font-size: 25px;
        }

        #product_detail span {
            margin-bottom: 10px;
        }

        #product_img {
            flex-basis: 300px;
        }

        .insert_css{
            border:none;
        }

        .insert_product_btn{
           
           
            color: #212529;
            background-color: #f8f9fa;
            border-color: #f8f9fa;
            font-size: 25px;
        
            width: 150px;
            right: 0px;
            margin-top: 10px;
            margin-left: 1175px;
            border-radius: 10px;
        }

        .review_score {
        
        margin-top: 20px;
        width: 330px;
        

        }

        .review_score input {
            border-color: #f8f9fa;
            border-radius: 10px;
        }
    </style>



</head>

<body>

 
    <div id="title_name">
        <h1>리뷰 등록</h1>     
        <div id="main_title">
            <div class="insert_product_body box_gradation">
                    
                <div class="product_top">
                       <form method="POST" action="/">
                        <div id="product_detail">
                            <div>
                                <label>구입상품 : </label>
                                
                            </div>
                                               
                        </div>
                </div>
                <div class="product_mid">
                    <textarea name="review_content" id="" cols="20" rows="20" style="resize: none; padding: 20px;  width: 95%; border-radius: 20px;" >
                    </textarea>
                </div>
                <div class="review_score">
                <input name="review_score" type="number" min="1" max="5" placeholder="평점주기" style="width:300px;height:50px;font-size:30px;" />
                </div>
                <input type="submit" value="등록하기" class="insert_product_btn" />                                        
                </form>
            </div>
        </div>
    </div>

            

</body>


</html>