<nav class="navbar navbar-expand-lg navbar-light " style="justify-content: flex-end; width: 500px; margin-left: 70%;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"">

            <% if(sess === undefined) { %>
                <a class="nav-item nav-link" href="/users/login" style="margin-right: 10px; font-size: 15px;">로그인</a>
            <% } else if (sess == "host") { %>
                <a class="nav-item nav-link" href="#" style="margin-right: 10px; font-size: 15px;"><%= sess%>님</a>
                
                <a class="nav-item nav-link" href="/users/logout" style="margin-right: 10px; font-size: 15px;">로그아웃</a>
            <% } else { %>
                <a class="nav-item nav-link" href="#" style="margin-right: 10px; font-size: 15px;"><%= sess%>님</a>
                <a class="nav-item nav-link" href="/order/basket" style="margin-right: 10px; font-size: 15px;">장바구니</a>
                <a class="nav-item nav-link" href="/users/mypage" style="margin-right: 10px; font-size: 15px;">마이페이지</a>
                <a class="nav-item nav-link" href="/users/logout" style="margin-right: 10px; font-size: 15px;">로그아웃</a>
            <% } %>
            <!-- <a class="nav-item nav-link active" href="#">은비님 <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">마이페이지</a>
            <a class="nav-item nav-link" href="#">로그아웃</a> -->
            <!-- <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
        </div>
    </div>
</nav>